.menuBar {
    position: fixed;
    background-color: white;
    z-index: 10;
    margin-top: -16px;
    padding-top: 10px;
}

@media (min-width: $mantine-breakpoint-sm) {
    .menuBar {
        width: calc(100vw - 360px);
    }

    .menuStack {
        display: none;
    }
    
    .columnTitleTwo, .scheduleBlockTwo {
        width: calc((100vw - 450px)/2);
    }

    .columnTitleOne, .scheduleBlockOne {
        width: calc((100vw - 450px));
    }

    .event1Two {
        width: calc((100vw - 450px)/8*1);
    }

    .event2Two {
        width: calc((100vw - 450px)/8*2);
    }

    .event3Two {
        width: calc((100vw - 450px)/8*3);
    }

    .event4Two {
        width: calc(((100vw - 450px)/8*4) - 4px);
    }

    .event1One {
        width: calc((100vw - 450px)/4*1);
    }

    .event2One {
        width: calc((100vw - 450px)/4*2);
    }

    .event3One {
        width: calc((100vw - 450px)/4*3);
    }

    .event4One {
        width: calc(((100vw - 450px)/4*4) - 4px);
    }

    .eventBay1 {
        left: 405px;
    }
    
    .eventBay2 {
        left: calc(((100vw - 450px)/2) + 405px);
    }
}

@media (max-width: $mantine-breakpoint-sm){
    .menuBar {
        width: calc(100vw - 25px);
    }

    .menuGroup {
        display: none;
    }

    .columnTitleTwo, .scheduleBlockTwo, .event {
        width: calc((100vw - 125px)/2);
    }

    .columnTitleOne, .scheduleBlockOne {
        width: calc((100vw - 125px));
    }

    .event1Two {
        width: calc((100vw - 125px)/8*1);
    }

    .event2Two {
        width: calc((100vw - 125px)/8*2);
    }

    .event3Two {
        width: calc((100vw - 125px)/8*3);
    }

    .event4Two {
        width: calc(((100vw - 125px)/8*4) - 4px);
    }

    .event1One {
        width: calc((100vw - 125px)/4*1);
    }

    .event2One {
        width: calc((100vw - 125px)/4*2);
    }

    .event3One {
        width: calc((100vw - 125px)/4*3);
    }

    .event4One {
        width: calc(((100vw - 125px)/4*4) - 4px);
    }

    .eventBay1 {
        left: 105px;
    }
    
    .eventBay2 {
        left: calc(((100vw - 125px)/2) + 105px);
    }

    .grid {
        padding-top: 150px !important;
    }

    .timeBlock {
        display: none;
    }
}

@media (max-width: $mantine-breakpoint-md){
    .timeBlock {
        display: none;
    }
}

.grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -16px;
    color: var(--mantine-color-gray-8);
    padding-top: 46px;
}

.bottomGrid {
    border-bottom: none !important;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: white;
    z-index: 10;
    height: 42px;
    align-items: flex-end;
}

.schedule {
    display: flex;
    flex-direction: row;
}

.scheduleFirst {
    margin-top: 25px;
}

.schedule:first-child {
    margin-top: 30px;
}

.headerTitle {
    width: 80px;
    padding-right: 8px;
    text-align: right;
    background-color: white;
}

.scheduleTitle {
    width: 80px;
    text-align: right;
    height: 40px;
    padding-right: 8px;
    position: relative;
}

.scheduleTitleFirst > .scheduleTime {
    display: none;
}

.scheduleTime {
    position: relative;
    top: -14px;
}

.spacer {
    width: 9px;
    min-width: 9px;
    border-right: 1px solid var(--mantine-color-gray-5);
    border-bottom: 1px solid var(--mantine-color-gray-5);
}

.columnTitleTwo, .columnTitleOne {
    text-align: center;
    border-bottom: 1px solid var(--mantine-color-gray-5);
    border-right: 1px solid var(--mantine-color-gray-5);
}

.scheduleBlockTwo, .scheduleBlockOne {
    height: 54px;
    border-bottom: 1px solid var(--mantine-color-gray-5);
    border-right: 1px solid var(--mantine-color-gray-5);
    z-index: 0;
}

.event {
    position:absolute;
    z-index: 5;
    border-radius: 4px;
    padding-left: 5px;
    line-height: 20px;
    background-color: var(--mantine-color-light-green-6);
}
